html,body{
    height:100%;
    width: 100%;
    margin:auto;
    display: flex;
    max-width: 1000px;
}
body *:not(.menu){
    display: flex;
    margin:5px;
    padding:5px;
    flex:1;
}
.menu{
    display: flex;
    margin:5px;
    padding:5px;
}
body>*{
    display: flex;
    background-color:white;
    border: 1px dashed red;
}
nav>*,main>*{
    background-color:#E8E8E8;
    border: 1px solid gray;
}
@media (max-width:699px){
    body,main{
        flex-direction: column;
    }
}
@media (min-width:700px) and (max-width:849px){
    body{
        flex-direction: column;
    }
    .main__content{
        flex:1 0.9 auto;
    }
    aside.main__complement{
        flex: 0 0 0;
    }
}
@media (min-width:850px){
    .menu{
        flex-direction: column;
    }
    .main__content{
        flex:1 0.9 auto;
    }
    aside.main__complement{
        flex: 0 0 0;
    }
}
