html,body{
    height:100%;
    width: 100%;
    box-sizing: border-box;
    padding:2px;
    display: flex;
    max-width: 1000px;
}
.menu__item,.main__complement,.main__content,.text{
    display: flex;
    margin:2px;
    padding:5px;
}
.main{
    flex: 1;
}
.main__content{
    flex:1 1 auto;
}
body,body>*{
    display: flex;
    background-color:white;
    flex-direction: column;
}
.main__complements{
    margin: 0;
    padding: 0;
}
.menu__item,.main__complement,.main__content,.text{
    background-color:#E8E8E8;
    border: 1px solid gray;
}
@media (min-width:400px){
    .menu{
        flex-direction: row;
    }
    .menu__item{
        flex:1
    }
}
@media (min-width:700px){
    .menu{
        flex-direction: row;
    }
    .menu__item{
        flex:1
    }
    .main{
        flex-direction: row-reverse;
    }
    .main__content,.main__complement{
        display: flex;
        flex:1 1 auto;
    }
    .main__complements{
        flex-direction: column;
        flex:0 0 auto;
    }

}
@media (min-width:1000px){

}