html,body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
}
body>*{
    display: flex;
    background-color:white;

}
body>*,.main__complement{
    border: 1px dashed red;
}
.main__complement,.main__content{
    flex: 1;
}
.menu {
    flex-flow: row wrap;
}
body *{
    margin:5px;
    padding:5px;
}
nav *{
    overflow: hidden;
    background-color:#E8E8E8;
    border: 1px solid gray;
}
.main__content,.main__sub-content,.main__sub-complement{
    background-color:#E8E8E8;
    border: 1px solid gray;
}
.main{
    flex-grow:5;
    flex-direction: column;
}
article,.main__complement>*{
    flex-grow:1;
}
.main__complement{
    display: flex;
    flex-flow: row nowrap;
}
.main__sub-content{
    flex-shrink:0.9;
}